<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Log In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div>
        <form method ="post"> 
            <label for="Email"><b>Username</b></label>
            <input type="Email" id="Email" placeholder="Enter your Email" name="Email" value=""/>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" id="password" placeholder="Enter your Password" name="Password" value=""/>
        </form>
        </div>
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>

