<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Sign Up</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <div>
            <form method ="post">  
            <label for="FirstName"><b>FirstName</b></label>
            <input type="FirstNam" id="FirstName" placeholder="Enter your First Name" name="FirstName" value="" 
            minlength="2" required/>

            <label for="LastName"><b>LastName</b></label>
            <input type="LastNam" id="LastName" placeholder="Enter your Last Name" name="LastName" value="" 
            minlength="2" required/>

            <label for="PhoneNumber"><b>Phone Number</b></label>
            <input type="PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber" name="PhoneNumber" value="" 
            required pattern="[0-9{10}]" required/>

            <label for="Email"><b>Email</b></label>
            <input type="Email" id="Email" placeholder="Enter your Email" name="Email" value=""
             required />

            <label for="Password"><b>Password</b></label>
            <input type="Password" id="Password" placeholder="Enter your Password" name="Password" value="" 
            minlength="2" required/>
            <button type="submit">Signup</button>
            </form> 
        </div>
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
